.uk-button-primary {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #486581;
  padding: 15px;
  font-size: 18px;
}

.uk-button-primary:hover {
  background-color: #102A43;
  cursor: pointer;
}
