<div fxLayout="row" fxFlex>
  <div fxLayout="column" fxFlex>
    <div>
      <div fxLayoutAlign="center">{{title}}</div>
      <div fxLayoutAlign="center">v.{{version}}</div>
    </div>

    <mat-divider></mat-divider>
    <mat-divider></mat-divider>

    <div fxLayoutAlign="center"> Select your current research progress</div>

    <mat-divider></mat-divider>

    <div>Select used assemblers</div>

    <mat-slide-toggle [checked]="mark1" (change)="mark1 = toggleAction($event.checked)">Assembler Mark 1
    </mat-slide-toggle>
    <mat-slide-toggle [checked]="mark2" (change)="mark2 = toggleAction($event.checked)">Assembler Mark 2
    </mat-slide-toggle>
    <mat-slide-toggle [checked]="mark3" (change)="mark3 = toggleAction($event.checked)">Assembler Mark 3
    </mat-slide-toggle>

    <mat-divider></mat-divider>

    <div>
      <div>Select what you want to build:</div>
      <button (change)="selectItem(wantedItem)">{{wantedItem.name}}</button>
    </div>

    <mat-divider></mat-divider>

    <div>
      <label>Insert Output:
        <input type="number" [value]="wantedOutput" (keyup)="setOutput($event)">
        /min
      </label>
    </div>

    <mat-divider></mat-divider>

    <button (click)="startCalc()">Calculate</button>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutGap="1%">
      <div> Here we go</div>
      <div *ngFor="let element of results">
        <mat-card class="card" fxFlex="30">
          <mat-card-title>{{element.item.name}}</mat-card-title>
          <mat-card-content>
            {{element.neededBuildings.toFixed(2)}}x {{element.item.neededMachine}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
