<div fxLayout="row" fxFlex xmlns:svg="">
  <div fxLayout="column" fxFlex>
    <div>
      <div fxLayoutAlign="center">{{title}}</div>
      <div fxLayoutAlign="center">v.{{version}}</div>
      <a target="_blank" rel="noopener noreferrer" fxLayoutAlign="center"
         href="https://github.com/Kuenssi/DSPC">source</a>
    </div>

    <mat-divider></mat-divider>
    <mat-divider></mat-divider>

    <div fxLayout="row">
      <div fxFlex>
        <div fxLayoutAlign="center">Veins utilization level:</div>
        <div fxLayoutAlign="center">
          <mat-radio-group [(ngModel)]="fasterMiningPercent" fxLayout="column" (change)="startCalc()">
            <mat-radio-button [value]="0">Level 0</mat-radio-button>
            <mat-radio-button [value]="10">Level 1</mat-radio-button>
            <mat-radio-button [value]="20">Level 2</mat-radio-button>
            <mat-radio-button [value]="30">Level 3</mat-radio-button>
            <mat-radio-button [value]="40">Level 4</mat-radio-button>
            <mat-radio-button [value]="50">Level 5</mat-radio-button>
            <mat-radio-button [value]="60">Level 6</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div fxFlex>
        <div fxLayoutAlign="center">Assembler level</div>
        <div fxLayoutAlign="center">
          <mat-radio-group [(ngModel)]="currentAssemblerMultiplier" fxLayout="column" (change)="startCalc()">
            <mat-radio-button [value]="0.75">Mk. 1</mat-radio-button>
            <mat-radio-button [value]="1">Mk. 2</mat-radio-button>
            <mat-radio-button [value]="1.5">Mk. 3</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div fxFlex>
        <div fxLayoutAlign="center">Desired Output:</div>
        <div fxLayoutAlign="center">
          <input fxFlex="20" type="number" [value]="wantedOutput" (keyup)="setOutput($event)">
          <span>/min</span>
        </div>
      </div>

      <div *ngIf="results.length > 0" fxFlex>
        <div fxLayoutAlign="center">Needed Nodes:</div>
        <div *ngFor="let overview of overviewMapBaseKeys">
          <div fxLayoutAlign="center">{{overview}}: {{setFixedStrings(overviewMapBase.get(overview))}}</div>
        </div>
      </div>

      <div *ngIf="results.length > 0" fxFlex>
        <div fxLayoutAlign="center">Needed Buildings:</div>
        <div *ngFor="let overview of overviewMapBuildingKeys">
          <div fxLayoutAlign="center">{{overview}}: {{setFixedStrings(overviewMapBuilding.get(overview))}}</div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <app-selection-table [table]="allBuildings" (selectCallback)="selectItem($event)"></app-selection-table>

    <mat-divider></mat-divider>

    <app-selection-table [table]="allComponents" (selectCallback)="selectItem($event)"></app-selection-table>

    <mat-divider></mat-divider>

    <app-result-graph [results]="results"></app-result-graph>

    <app-to-top-button></app-to-top-button>

  </div>
</div>
