<div fxLayout="row" fxFlex class="background">
  <div fxLayout="column" fxFlex>
    <h1 class="uk-heading-divider uk-text-center titleString" fxFlex><span>{{title}}</span></h1>

    <div fxLayout="row">
      <div fxFlex>
        <div fxLayoutAlign="center" class="subsection">Veins utilization level:</div>
        <div fxLayoutAlign="center">
          <div class="uk-form-controls uk-form-controls-text">
            <label><input class="uk-radio" type="radio" name="radioV0" [checked]="getCurrentMiningMultiplier(0)"
                          (change)="setMiningMultiplier(0)"> Level 00</label><br>
            <label><input class="uk-radio" type="radio" name="radioV1" [checked]="getCurrentMiningMultiplier(10)"
                          (change)="setMiningMultiplier(10)"> Level 01</label><br>
            <label><input class="uk-radio" type="radio" name="radioV2" [checked]="getCurrentMiningMultiplier(20)"
                          (change)="setMiningMultiplier(20)"> Level 02</label><br>
            <label><input class="uk-radio" type="radio" name="radioV3" [checked]="getCurrentMiningMultiplier(30)"
                          (change)="setMiningMultiplier(30)"> Level 03</label><br>
            <label><input class="uk-radio" type="radio" name="radioV4" [checked]="getCurrentMiningMultiplier(40)"
                          (change)="setMiningMultiplier(40)"> Level 04</label><br>
            <label><input class="uk-radio" type="radio" name="radioV5" [checked]="getCurrentMiningMultiplier(50)"
                          (change)="setMiningMultiplier(50)"> Level 05</label><br>
            <label><input class="uk-radio" type="radio" name="radioV6" [checked]="getCurrentMiningMultiplier(60)"
                          (change)="setMiningMultiplier(60)"> Level 06</label>
          </div>
        </div>
      </div>

      <hr class="uk-divider-vertical">

      <div fxFlex>
        <div fxLayoutAlign="center" class="subsection">Assembler level:</div>
        <div fxLayoutAlign="center">
          <div class="uk-form-controls uk-form-controls-text">
            <label><input class="uk-radio" type="radio" name="radioA0"
                          [checked]="getCurrentAssemblerMultiplier(mark1Mult)"
                          (change)="setAssemblerMultiplier(mark1Mult)"> Mk. 01</label><br>
            <label><input class="uk-radio" type="radio" name="radioA1"
                          [checked]="getCurrentAssemblerMultiplier(mark2Mult)"
                          (change)="setAssemblerMultiplier(mark2Mult)"> Mk. 02</label><br>
            <label><input class="uk-radio" type="radio" name="radioA2"
                          [checked]="getCurrentAssemblerMultiplier(mark3Mult)"
                          (change)="setAssemblerMultiplier(mark3Mult)"> Mk. 03</label><br>
          </div>
        </div>
      </div>

      <hr class="uk-divider-vertical">

      <div fxFlex>
        <div fxLayoutAlign="center" class="subsection">Desired Output:</div>
        <div fxLayoutAlign="center">
          <input class="inputField" fxFlex="20" type="number" [value]="wantedOutput" (keyup)="setOutput($event)">
          <label>/min</label>
        </div>
      </div>

      <hr class="uk-divider-vertical">

      <div fxFlex>
        <div fxLayoutAlign="center">
          <selectBuildModal (selectCallback)="selectItem($event)"></selectBuildModal>
        </div>
        <div fxLayoutAlign="center" class="subsection">Current selected Item:</div>
        <div fxLayoutAlign="center">
          <img *ngIf="wantedItem" [src]="buildImageSource(wantedItem.imageSource)" [title]="wantedItem.name">
        </div>
      </div>

      <hr class="uk-divider-vertical">

      <div fxFlex>
        <span class="subsection" fxLayoutAlign="center">Links:</span>
        <a target="_blank"
           rel="noopener noreferrer"
           fxLayoutAlign="center"
           href="https://github.com/Kuenssi/DSPC">GitHub Repo</a>
        <a target="_blank"
           rel="noopener noreferrer"
           fxLayoutAlign="center"
           href="https://store.steampowered.com/app/1366540/Dyson_Sphere_Program">DSP on Steam</a>
      </div>
    </div>

    <hr class="uk-divider-icon">

    <div>
      <app-result-graph [results]="results"></app-result-graph>

      <div fxFlex>
        <div fxLayoutAlign="center" class="subsection">Needed Nodes:</div>
        <div *ngIf="results.length > 0">
          <div *ngFor="let overview of overviewMapBaseKeys">
            <div class="neededSectionText" fxLayoutAlign="center">{{overview}}
              : {{setFixedStrings(overviewMapBase.get(overview))}}</div>
          </div>
        </div>

        <hr class="uk-divider-icon">

        <div fxLayoutAlign="center" class="subsection">Needed Buildings:</div>
        <div *ngIf="results.length > 0">
          <div *ngFor="let overview of overviewMapBuildingKeys">
            <div class="neededSectionText" fxLayoutAlign="center">{{overview}}
              : {{setFixedStrings(overviewMapBuilding.get(overview))}}</div>
          </div>
        </div>
      </div>
    </div>

    <app-to-top-button></app-to-top-button>

  </div>
</div>
