.grid-button {
  height: 70px;
  width: 70px;
  background: #3B3B3B;
}

.background {
  background: #222222;
}

.uk-button-primary {
  background: #486581;
}

.uk-button-primary:hover {
  background-color: #102A43;
}

.uk-tab > * > a {
  color: white;
}

.uk-tab > .uk-active > a {
  color: #486581;
  border-color: #486581;
}
