<ng-template #selectBuild let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Select Item</h2>
    <div fxLayoutAlign="end">
      <span>{{components ? 'Components' : 'Buildings'}}</span>
      <button class="uk-button uk-button-primary" (click)="changeTable()">Change Content</button>
    </div>
  </div>
  <div class="modal-body" fxLayoutAlign="center">
    <div class="uk-child-width-expand@m uk-text-center" uk-grid *ngFor="let singleRow of table.singleRows">
      <div *ngFor="let item of singleRow.components">
        <button class="uk-button-secondary" fxFlex *ngIf="item.name" [title]="item.name"
             (click)="selectAndClose(item, modal)">{{item.name}}</button>
        <button class="uk-button-secondary" fxFlex *ngIf="!item.name"></button>
      </div>
    </div>
  </div>
</ng-template>
