<ng-template #selectBuild let-modal>
  <div class="modal-header" fxLayoutAlign="center">
    <h2 class="modal-title" fxLayoutAlign="center">Select Item</h2>
  </div>
  <div class="modal-body" fxLayoutAlign="center">
    <table class="mat-table">
      <thead>
      <tr fxLayout="row" fxFlex>
        <th fxLayout="row" fxLayoutGap="0.25rem" fxFlex="5" fxLayoutAlign="center">
          <span>Cat</span>
        </th>
        <th fxLayout="row" fxLayoutGap="0.25rem" fxFlex fxLayoutAlign="center">
          <span>Buildings</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cat of table.singleRows" fxLayoutGap="0.25rem">
        <td fxFlex="5" fxLayoutAlign="center">
          <span>{{cat.categoryNumber}}</span>
        </td>
        <td *ngFor="let component of cat.components" fxFlex fxLayoutGap="0.25rem">
          <button *ngIf="component.name" fxFlex (click)="selectAndClose(component, modal)">{{component.name}}</button>
          <button *ngIf="!component.name" fxFlex></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
