<button class="uk-button uk-button-primary" type="button" uk-toggle="target: #selectBuild">Select Item</button>

<div id="selectBuild" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <ul class="uk-child-width-expand" uk-tab>
      <li class="uk-active" (click)="changeTable(true)"><a href="">Components</a></li>
      <li (click)="changeTable(false)"><a href="">Buildings</a></li>
    </ul>
    <table class="uk-table">
      <tbody>
      <tr *ngFor="let singleRow of table.singleRows">
        <td *ngFor="let item of singleRow.components">
          <button class="uk-modal-close grid-button" *ngIf="item.name" [title]="item.name"
                  (click)="selectAndClose(item)"><img [src]=buildImageSource(item.imageSource)></button>
          <button class="grid-button" *ngIf="!item.name"></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
